SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEP0001]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEP0001](
	[REC_CREATOR] [nvarchar](8) NOT NULL,
	[REC_CREATE_TIME] [nvarchar](14) NOT NULL,
	[REC_REVISOR] [nvarchar](8) NOT NULL,
	[REC_REVISE_TIME] [nvarchar](14) NOT NULL,
	[ARCHIVE_FLAG] [nvarchar](1) NOT NULL,
	[CODE_CLASS] [nvarchar](4) NOT NULL,
	[CODE_NAME] [nvarchar](50) NOT NULL,
	[CODE_LEN] [decimal](2, 0) NOT NULL,
	[CODE_ACT_LEN] [decimal](2, 0) NOT NULL,
	[CODE_DESC_1_NAME] [nvarchar](50) NOT NULL,
	[CODE_DESC_1_LEN] [decimal](3, 0) NOT NULL,
	[CODE_DESC_2_NAME] [nvarchar](50) NOT NULL,
	[CODE_DESC_2_LEN] [decimal](3, 0) NOT NULL,
	[CODE_DESC_3_NAME] [nvarchar](50) NOT NULL,
	[CODE_DESC_3_LEN] [decimal](3, 0) NOT NULL,
	[CODE_DESC_4_NAME] [nvarchar](50) NOT NULL,
	[CODE_DESC_4_LEN] [decimal](3, 0) NOT NULL,
	[CODE_DESC_5_NAME] [nvarchar](50) NOT NULL,
	[CODE_DESC_5_LEN] [decimal](3, 0) NOT NULL,
	[CODE_DEFINE_DESC] [nvarchar](200) NOT NULL,
	[CODE_ENAME] [nvarchar](100) NOT NULL,
	[CODE_ITEM_NAME] [nvarchar](50) NOT NULL,
	[CODE_SOURCE] [nvarchar](4) NOT NULL,
	[CODE_AUTH] [nvarchar](4) NOT NULL,
	[CODE_LINE] [nvarchar](20) NOT NULL,
	[EDIT_MAKER] [nvarchar](8) NOT NULL,
	[EDIT_TIME] [nvarchar](14) NOT NULL,
	[CHECK_MAKER] [nvarchar](8) NOT NULL,
	[CHECK_TIME] [nvarchar](14) NOT NULL,
	[APPROVE_MAKER] [nvarchar](8) NOT NULL,
	[APPROVE_TIME] [nvarchar](14) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEP0002]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEP0002](
	[REC_CREATOR] [nvarchar](8) NULL,
	[REC_CREATE_TIME] [nvarchar](14) NULL,
	[REC_REVISOR] [nvarchar](8) NULL,
	[REC_REVISE_TIME] [nvarchar](14) NULL,
	[ARCHIVE_FLAG] [nvarchar](1) NULL,
	[CODE_CLASS] [nvarchar](4) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[CODE_DESC_1_CONTENT] [nvarchar](200) NULL,
	[CODE_DESC_2_CONTENT] [nvarchar](200) NULL,
	[CODE_DESC_3_CONTENT] [nvarchar](200) NULL,
	[CODE_DESC_4_CONTENT] [nvarchar](200) NULL,
	[CODE_DESC_5_CONTENT] [nvarchar](200) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEPLOGEVENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEPLOGEVENT](
	[REC_CREATOR] [nvarchar](8) NOT NULL,
	[REC_CREATE_TIME] [nvarchar](14) NOT NULL,
	[REC_REVISOR] [nvarchar](8) NOT NULL,
	[REC_REVISE_TIME] [nvarchar](14) NOT NULL,
	[ARCHIVE_FLAG] [nvarchar](1) NOT NULL,
	[LOG_NO] [decimal](10, 0) NOT NULL,
	[LOG_TIME] [nvarchar](20) NOT NULL,
	[LOG_MESSAGE] [nvarchar](4000) NOT NULL,
	[LOG_DESC] [nvarchar](100) NOT NULL,
	[LOG_KEY_VALUE1] [nvarchar](30) NOT NULL,
	[LOG_KEY_VALUE2] [nvarchar](30) NOT NULL,
	[LOG_KEY_VALUE3] [nvarchar](30) NOT NULL,
	[LOG_TYPE] [nvarchar](1) NOT NULL,
	[LOG_USERNAME] [nvarchar](10) NOT NULL,
	[LOG_MODULENAME] [nvarchar](30) NOT NULL,
	[LOG_FORMENAME] [nvarchar](30) NOT NULL,
	[LOG_IP_ADDRESS] [nvarchar](20) NOT NULL,
	[LOG_RID] [nvarchar](20) NOT NULL,
	[LOG_RTIME] [nvarchar](20) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESAPPINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESAPPINFO](
	[ENAME] [nvarchar](18) NOT NULL,
	[CNAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_APP_ID] PRIMARY KEY CLUSTERED 
(
	[ENAME] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESGROUPACCESS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESGROUPACCESS](
	[ACLID] [decimal](10, 0) NOT NULL,
	[ACCESSERID] [decimal](10, 0) NOT NULL,
	[ACCESSERTYPE] [decimal](1, 0) NOT NULL,
	[ACCESSCODE] [decimal](2, 0) NOT NULL,
 CONSTRAINT [PK_GA_ID] PRIMARY KEY CLUSTERED 
(
	[ACLID] ASC,
	[ACCESSERID] ASC,
	[ACCESSERTYPE] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESGROUPINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESGROUPINFO](
	[ID] [decimal](10, 0) NOT NULL,
	[ADMINUSERID] [decimal](10, 0) NOT NULL,
	[NAME] [nvarchar](128) NOT NULL,
	[GROUPDESCRIPTION] [nvarchar](256) NOT NULL,
	[APPNAME] [nvarchar](18) NULL,
	[ADMINUSERID2] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_TESGROUPINFO_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESGROUPMEMBER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESGROUPMEMBER](
	[MEMBERID] [decimal](10, 0) NOT NULL,
	[GROUPID] [decimal](10, 0) NOT NULL,
	[MEMBERTYPE] [decimal](1, 0) NOT NULL,
 CONSTRAINT [PK_GM_ID] PRIMARY KEY CLUSTERED 
(
	[GROUPID] ASC,
	[MEMBERID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESOTHERRESINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESOTHERRESINFO](
	[NAME] [nvarchar](128) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NOT NULL,
	[ACLID] [decimal](10, 0) NOT NULL,
	[RESOURCETYPE] [decimal](1, 0) NOT NULL,
	[ADMIN1] [nvarchar](32) NOT NULL,
	[ADMIN2] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_ACLID_ID] PRIMARY KEY CLUSTERED 
(
	[ACLID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESTREEINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESTREEINFO](
	[NAME] [nvarchar](128) NOT NULL,
	[FNAME] [nvarchar](128) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NOT NULL,
	[SHORTCUT] [nvarchar](1) NOT NULL,
	[ACLID] [decimal](10, 0) NOT NULL,
	[RESNAME] [nvarchar](128) NOT NULL,
	[TREENO] [decimal](10, 0) NOT NULL,
	[TREESEQ] [nvarchar](3) NOT NULL,
	[APPNAME] [nvarchar](18) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESUSERINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESUSERINFO](
	[ID] [decimal](10, 0) NOT NULL,
	[ENAME] [nvarchar](32) NOT NULL,
	[CNAME] [nvarchar](50) NOT NULL,
	[KEYVALUE] [nvarchar](100) NOT NULL,
	[ISENABLE] [decimal](1, 0) NOT NULL,
	[DEPTID] [decimal](10, 0) NOT NULL,
	[TREENO] [decimal](10, 0) NOT NULL,
	[TIMETIRED] [datetime] NULL,
	[PASSWD_PERIOD] [decimal](4, 0) NOT NULL,
	[APPNAME] [nvarchar](18) NOT NULL,
	[PER_MONITORSTARTTIME] [datetime] NOT NULL CONSTRAINT [DF_TESUSERINFO_PER_MONITORSTARTTIME]  DEFAULT (getdate()),
	[TEM_MONITORSTARTTIME] [datetime] NOT NULL CONSTRAINT [DF_TESUSERINFO_TEM_MONITORSTARTTIME]  DEFAULT (getdate()),
	[LAST_ERRORTIME] [datetime] NOT NULL CONSTRAINT [DF_TESUSERINFO_LAST_ERRORTIME]  DEFAULT (getdate()),
	[PER_ERRORCOUNT] [decimal](38, 0) NOT NULL CONSTRAINT [DF_TESUSERINFO_PER_ERRORCOUNT]  DEFAULT ((0)),
	[TEM_ERRORCOUNT] [decimal](38, 0) NOT NULL CONSTRAINT [DF_TESUSERINFO_TEM_ERRORCOUNT]  DEFAULT ((0)),
 CONSTRAINT [PK_TESUSERINFO_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESFORMRESINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESFORMRESINFO](
	[NAME] [nvarchar](128) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NOT NULL,
	[DLLNAME] [nvarchar](128) NOT NULL,
	[ACLID] [int] IDENTITY(1,1) NOT NULL,
	[ABBREV] [nvarchar](10) NOT NULL,
	[ICONNUM] [decimal](3, 0) NOT NULL,
	[FORM_CALL_MODE] [nvarchar](1) NOT NULL,
	[APPNAME] [nvarchar](18) NOT NULL,
	[DLLPATH] [nvarchar](500) NULL,
 CONSTRAINT [PK_FORM_ID] PRIMARY KEY CLUSTERED 
(
	[ACLID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESBUTTONRESINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TESBUTTONRESINFO](
	[NAME] [nvarchar](128) NOT NULL,
	[FNAME] [nvarchar](128) NOT NULL,
	[ACLID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NOT NULL,
	[OPTYPE] [nvarchar](2) NOT NULL,
	[APPNAME] [nvarchar](18) NOT NULL,
 CONSTRAINT [PK_BUTTON_ID] PRIMARY KEY CLUSTERED 
(
	[ACLID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
