<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
            connectionString="Data Source=BSM2;Persist Security Info=True;User ID=bsm2;Password=bsm2;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>